/* ===== GENERAL ===== */

body {
    scroll-behavior: smooth;
    background-color: #f8f9fa;
}

/*Hero*/
.hero {
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    color: white;
    padding: 140px 20px;
    text-align: center;
}


.hero img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 20px;
    object-fit: cover;
}

/*Secciones*/
section {
    padding: 80px 0;
}

/*Animaciones*/
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all .6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/*Insignia*/
.badge-tech {
    font-size: 1rem;
    padding: 10px 15px;
}
